@page
@model AsigOficinas.App.Frontend.Pages.DetallessecretarioDespachoModel
@{
}
<h2>Detalles del secretario de despacho</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Identificacion</th>
            <th>Edad</th>
            <th>Estado COVID</th>
            <th>Diagnostico</th>
            <th>Despacho</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.secretarioDeDespachos.nombre</td>
            <td>@Model.secretarioDeDespachos.apellido</td>
            <td>@Model.secretarioDeDespachos.identificacion</td>
            <td>@Model.secretarioDeDespachos.edad</td>
            <td>@Model.secretarioDeDespachos.estadoCovid</td>
            <td>@Model.secretarioDeDespachos.diagnostico</td>
            <td>@Model.secretarioDeDespachos.despacho</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" asp-area="" asp-page="/WebSecretarioDeDespacho/secretarioDespacho"><i class="bi bi-arrow-left"></i></i>
    secretario de despacho</a>