@page
@model AsigOficinas.App.Frontend.Pages.EliminarsecretarioDespachoModel
@{
}
<h2>Desea eliminar personal de aseo</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Identificacion</th>
            <th>Edad</th>
            <th>Estado COVID</th>
            <th>Diagnostico</th>
            <th>Despacho</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.secretarioDeDespachos.nombre</td>
            <td>@Model.secretarioDeDespachos.apellido</td>
            <td>@Model.secretarioDeDespachos.identificacion</td>
            <td>@Model.secretarioDeDespachos.edad</td>
            <td>@Model.secretarioDeDespachos.estadoCovid</td>
            <td>@Model.secretarioDeDespachos.diagnostico</td>
            <td>@Model.secretarioDeDespachos.despacho</td>
        </tr>
    </tbody>
</table>
<form method="post">
    <input type="hidden" asp-for="secretarioDeDespachos.id" />
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash" aria-hidden="true"></i>
        Confirmar eliminar
    </button>
</form>