@page
@model AsigOficinas.App.Frontend.Pages.secretarioDespachoModel
@{
}
<h2>Listado de secretarios de despachos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Identificacion</th>
            <th>Edad</th>
            <th>Estado COVID</th>
            <th>Diagnostico</th>
            <th>Despacho</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        @foreach (var secretario in Model.secretariosDeDespachos)
        {
            <tr>
                <td>@secretario.nombre</td>
                <td>@secretario.apellido</td>
                <td>@secretario.identificacion</td>
                <td>@secretario.edad</td>
                <td>@secretario.estadoCovid</td>
                <td>@secretario.diagnostico</td>
                <td>@secretario.despacho</td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./DetallessecretarioDespacho"
                    asp-route-idSecretarioDeDespacho="@secretario.id">
                        <i class="bi bi-info-circle" aria-hidden="true"></i>
                        Detalle
                    </a>
                </td>
                <td>
                    <a class="btn btn-secondary table-btn" asp-page="./EditarsecretarioDespacho"
                    asp-route-idSecretarioDeDespacho="@secretario.id">
                        <i class="bi bi-pencil-square" aria-hidden="true"></i>
                        Editar
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger table-btn" asp-page="./EliminarsecretarioDespacho"
                    asp-route-idSecretarioDeDespacho="@secretario.id">
                        <i class="bi bi-trash" aria-hidden="true"></i>
                        Eliminar
                    </a>
                </td>
            </tr>
        }
        </tr>
    </tbody>
</table>
<a class="btn btn-primary table-btn" asp-page="./EditarsecretarioDespacho">
    <i class="bi bi-file-plus" aria-hidden="true"></i>
    Crear secretario de despacho
</a>