@page
@model AsigOficinas.App.Frontend.Pages.EliminargobenadorAsesorModel
@{
}
<h2>Desea eliminar gobenador o asesor</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Identificacion</th>
            <th>Edad</th>
            <th>Estado COVID</th>
            <th>Diagnostico</th>
            <th>Oficina visitada</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.gobernadorYAsesor.nombre</td>
            <td>@Model.gobernadorYAsesor.apellido</td>
            <td>@Model.gobernadorYAsesor.identificacion</td>
            <td>@Model.gobernadorYAsesor.edad</td>
            <td>@Model.gobernadorYAsesor.estadoCovid</td>
            <td>@Model.gobernadorYAsesor.diagnostico</td>
            <td>@Model.gobernadorYAsesor.oficinasVisitadas</td>
        </tr>
    </tbody>
</table>
<form method="post">
    <input type="hidden" asp-for="gobernadorYAsesor.id" />
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash" aria-hidden="true"></i>
        Confirmar eliminar
    </button>
</form>