@page
@model AsigOficinas.App.Frontend.Pages.DetallesOficinaModel
@{
}
<h2>Detalles de la oficina</h2>
<table class="table">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Aforo</th>
            <th>Hora laboral</th>
            <th>Numero personas</th>
            <th>Estado oficina</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.oficina.numero</td>
            <td>@Model.oficina.aforo</td>
            <td>@Model.oficina.horaLaboral</td>
            <td>@Model.oficina.numeroPersonas</td>
            <td>@Model.oficina.estadoOficina</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" asp-area="" asp-page="/WebOficina/Oficina"><i class="bi bi-arrow-left"></i></i> Oficinas</a>