@page
@model AsigOficinas.App.Frontend.Pages.personalAseoModel
@{
}
<h2>Listado de personal de aseo</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Identificacion</th>
            <th>Edad</th>
            <th>Estado COVID</th>
            <th>Diagnostico</th>
            <th>Turno de desarrollo servicio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        @foreach (var personalAseo in Model.personalDeAseos)
        {
            <tr>
                <td>@personalAseo.nombre</td>
                <td>@personalAseo.apellido</td>
                <td>@personalAseo.identificacion</td>
                <td>@personalAseo.edad</td>
                <td>@personalAseo.estadoCovid</td>
                <td>@personalAseo.diagnostico</td>
                <td>@personalAseo.turnoDesarrolloServicio</td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./DetallespersonalAseo"
                    asp-route-idPersonalDeAseo="@personalAseo.id">
                        <i class="bi bi-info-circle" aria-hidden="true"></i>
                        Detalle
                    </a>
                </td>
                <td>
                    <a class="btn btn-secondary table-btn" asp-page="./EditarpersonalAseo"
                    asp-route-idPersonalDeAseo="@personalAseo.id">
                        <i class="bi bi-pencil-square" aria-hidden="true"></i>
                        Editar
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger table-btn" asp-page="./EliminarpersonalAseo"
                    asp-route-idPersonalDeAseo="@personalAseo.id">
                        <i class="bi bi-trash" aria-hidden="true"></i>
                        Eliminar
                    </a>
                </td>
            </tr>
        }
        </tr>
    </tbody>
</table>
<a class="btn btn-primary table-btn" asp-page="./EditarpersonalAseo">
    <i class="bi bi-file-plus" aria-hidden="true"></i>
    Crear personal de aseo
</a>